<section class="footerSection">
    <div class="container pt-5">
        
        <div class="row startFooter py-5">
            <div class="col-md-4">
                <div class="d-flex flex-column justify-content-center text-center">
                    <h2>LOCATION</h2>
                    <span>2215 John Daniel Drive</span>
                    <span>Clark, MO 65243</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column justify-content-center text-center">
                    <h2>AROUND THE WEB</h2>
                    <div>
                        <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column justify-content-center text-center mb-5">
                    <h2>ABOUT FREELANCER</h2>
                    <span>Freelance is a free to use, licensed Bootstrap theme</span>
                    <span>created by Route</span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-center endFooter py-4">
        <span>Copyright © Your Website 2021</span>
    </div>
</section>
