<section class="homeSection text-white secClass">
    <div class="d-flex flex-column justify-content-center align-items-center py-5">
        <img src="./assets/avataaars.svg" alt="" class="py-5">
    <h1 class="startH1">START FRAMEWORK</h1>
    <div class="d-flex justify-content-center align-items-center">
        <div class="before"></div>
        <div class="mx-3">
            <i class="fa-solid fa-star py-3 starIcon"></i>
        </div>
        <div class="after"></div>
    </div>
    <span class="pb-5">Graphic Artist - Web Designer - Illustrator</span>
    </div>
</section>
